{% extends 'base.html' %}

{% block title %}
Извлечение
{% endblock %}

{% block body %}
<h1>Извлечение</h1>
    <div class="main">
		<div class="content">
			<h2>Инструкция для извлечения </h2>
				<p>1)	Введите в форму текст.</p>
				<br>
				<p>2)	Нажмите конпку "извлечь"</p>
				<br>
				<p>3)	Введите текст:</p>
				<br>
			<form action = "extract" method = "post">
			<div class="form-group">
				<textarea input class="form-control"  name = txt id="exampleFormControlTextarea1" placeholder="Введите текст" placeholder=".form-control-lg" cols = 80 rows="10"></textarea>

			</div>
			<input type = "submit" name = "submit" value = "Извлечь">

			</form>
			<br>
		</div>
	</div>
{% endblock %}