<html xmlns:fo="http://www.w3.org/1999/XSL/Format"><HEAD><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></HEAD></html><body xmlns:fo="http://www.w3.org/1999/XSL/Format">
<p><a name="0"><span title="светлый A, nom, acc, pl, plen, inan">Светлые</span> 
							 
						<span title="поле S, nom, gen, acc, sg, pl, n, inan">поля</span> 
							 
						<span title=", ">,</span> 
							 
						<span title="покрыть V, praet, nom, acc, pl, partcp, plen, pf, pass, inan">покрытые</span> 
							 
						<span title="золотой S, ins, pl, m, inan
золотой A, ins, pl, plen">золотыми</span> 
							 
						<span title="колос S, ins, pl, m, inan">колосьями</span> 
							 
						<span title=", ">,</span> 
							 
						<span title="простираться V, praet, pl, indic, pf, intr
простираться V, praet, pl, indic, ipf, intr">простирались</span> 
							 
						<span title="до S, nom, gen, dat, acc, ins, abl, sg, pl, n, inan
до PR">до</span> 
							 
						<span title="самый APRO, gen, acc, sg, m, n, anim
сам APRO, gen, acc, sg, m, n, anim">самого</span> 
							 
						<span title="горизонт S, gen, sg, m, inan">горизонта</span> 
							 
						<span title=". ">.</span> 
							 
						<b> EOS</b> </a><p></p></p>
<p><a name="1"><span title="теплый A, nom, acc, sg, plen, m, inan">Тёплый</span> 
							 
						<span title="вечер S, nom, acc, sg, m, inan">вечер</span> 
							 
						<span title="наполнять V, praet, sg, indic, m, ipf, tran">наполнял</span> 
							 
						<span title="сад S, nom, acc, sg, m, inan">сад</span> 
							 
						<span title="сладкое S, dat, ins, sg, pl, n, inan
сладкий A, dat, ins, sg, pl, plen, m, n">сладким</span> 
							 
						<span title="аромат S, ins, sg, m, inan">ароматом</span> 
							 
						<span title="цвести V, praes, inpraes, gen, acc, abl, pl, partcp, plen, ipf, act, anim, intr
цветущий A, gen, acc, abl, pl, plen, anim">цветущих</span> 
							 
						<span title="роза S, gen, pl, f, inan
роза S, persn, gen, acc, pl, f, anim">роз</span> 
							 
						<span title=". ">.</span> 
							 
						<b> EOS</b> </a><p></p></p>
<p><a name="2"><span title="на PART
на PR">На</span> 
							 
						<span title="улица S, dat, abl, sg, f, inan">улице</span> 
							 
						<span title="стоять V, praet, sg, indic, f, ipf, intr
стоялый A, sg, brev, f">стояла</span> 
							 
						<span title="холодная S, nom, sg, f, inan
холодный A, nom, sg, plen, f">холодная</span> 
							 
						<span title=", ">,</span> 
							 
						<span title="мрачный A, nom, sg, plen, f">мрачная</span> 
							 
						<span title="погода S, nom, sg, f, inan">погода</span> 
							 
						<span title=", ">,</span> 
							 
						<span title="что ADVPRO
что CONJ
что SPRO, nom, acc, sg, n, inan">что</span> 
							 
						<span title="подчеркивать V, praet, sg, indic, n, ipf, tran">подчеркивало</span> 
							 
						<span title="угнести V, praet, nom, acc, sg, partcp, plen, n, pf, pass
угнетенный A, nom, acc, sg, plen, n">угнетённое</span> 
							 
						<span title="настроение S, nom, acc, sg, n, inan">настроение</span> 
							 
						<span title="главное S, gen, sg, n, inan
главный A, gen, acc, sg, plen, m, n, anim">главного</span> 
							 
						<span title="герой S, gen, acc, sg, m, anim">героя</span> 
							 
						<span title=". ">.</span> 
							 
						<b> EOS</b> </a><p></p></p>
<table border="1"><tbody>
<tr align="center">
<th>Text</th>
<th>Type</th>
</tr>
<tr align="center">
<td><a href="#0">светлый поле</a></td>
<td>TAuxDicArticle [СущПрил]</td>
</tr>
<tr align="center">
<td><a href="#0">золотой колос</a></td>
<td>TAuxDicArticle [СущПрил]</td>
</tr>
<tr align="center">
<td><a href="#0">до самое</a></td>
<td>TAuxDicArticle [СущПрил]</td>
</tr>
<tr align="center">
<td><a href="#1">тёплый вечер</a></td>
<td>TAuxDicArticle [СущПрил]</td>
</tr>
<tr align="center">
<td><a href="#1">сладкий аромат</a></td>
<td>TAuxDicArticle [СущПрил]</td>
</tr>
<tr align="center">
<td><a href="#1">цветущий роза</a></td>
<td>TAuxDicArticle [СущПрил]</td>
</tr>
<tr align="center">
<td><a href="#2">мрачная погода</a></td>
<td>TAuxDicArticle [СущПрил]</td>
</tr>
<tr align="center">
<td><a href="#2">угнетённое настроение</a></td>
<td>TAuxDicArticle [СущПрил]</td>
</tr>
<tr align="center">
<td><a href="#2">главный герой</a></td>
<td>TAuxDicArticle [СущПрил]</td>
</tr>
</tbody></table>
</body>
